.App {
  text-align: center;
  background-color: papayawhip;
  height: 100vh;
}

.logo{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.info{
  display: flex;
  justify-content: flex-end;
}

.info-button{
  padding: 10px;
}

.listflex{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#display{
  width: 300px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
}
